<%- list_tags({show_count: false, class: 'article-tag'})%>
<!-- 	<pre>
	<% site.posts.forEach(function(post){%>
		<% JSON.stringify(Object.keys(post))%>
	<%})%>
</pre> -->
<% function NewObject(posts){ %>
	<% var newObj = {};%>
	<% posts.forEach(function(post){ %>
		<% post.tags.forEach(function(tag){ %>
			<% if(!newObj.hasOwnProperty(tag.name)){ %>
				<% newObj[tag.name] = new Array(); %>
				<% newObj[tag.name].push({title: post.title, path: post.path});%>
			<% }else{ %>
				<% newObj[tag.name].push({title: post.title, path: post.path});%>
			<%}%>
		<%});%>
	<%});%>
	<%return newObj;%>
<%}%>
<% var newobj = new NewObject(site.posts);%>


<% for(key in newobj){ %>
	<div class="tag-wrapper" id>
		<div class="tag-title"><%= key%></div>
		<% newobj[key].forEach(function(obj){%>
			<a href="<%- url_for(obj.path)%>"><p><%= obj.title%></p></a>	
		<% })%>
	</div>
<%}%>