#footer
  background: color-footer-background
  padding: 50px 0
  color: color-grey
  font-weight: font-weight
  a
    color: #777
    text-decoration: none
    &:hover
      color: #455a91
  p
    margin-top: 10px

#footer-info
  line-height: line-height
  font-size: 1em
  text-align: center

.footer-link
  padding:0 5px
