//nav-side
@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: #fff

//nav-toggle
transform(value){
    transform:scale(value)
    -ms-transform:scale(value)
    -webkit-transform:scale(value)
    -moz-transform:scale(value)
    -o-transform:scale(value)
}

transform-origin(value){
    transform-origin:value
    -ms-transform-origin:value
    -webkit-transform-origin:value
    -moz-transform-origin:value
    -o-transform-origin:value   
}

transition(value) {
    transition:value
    -ms-transition:value
    -webkit-transition:value
    -moz-transition:value
    -o-transition:value 
}

@media mq-mobile
    .dropdown-wrapper
        width: 130px
        position: relative
        top: 54px
        left: 20px
        padding: 5px 10px
        z-index: 1
        background: #fff
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2)
        transform(0)
        transform-origin(top left)

    .animation
        transition(transform 300ms ease-out)

    .dropdown-menu
        margin: 7px -10px
        li
            line-height: 2.6em
            opacity: 0
            transition(opacity 250ms 180ms ease-out)
            &:active
                background-color: rgba(0,0,0,.1)
            a
                display:block
                padding: 0 18px
                font-size: 1.1em
                font-weight: 300

    .in
        transform(1);

    div[class*='in']
        li
            opacity:1
